.upload-btn {
	border: 2px solid #f0f0f0;
	border-radius: 2px;
	background-color: #f1f1f2;
	cursor: pointer;
}

.hide {
	display: none;
}

.file-preview {
	border: 2px solid #f0f0f0;
	border-radius: 2px;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.previewer-elem {
	width: 240px;
	height: 240px;
	/*border: 1px solid red;
    */

	margin-left: 10px;
	margin-top: 4px;

	position: relative;
}

.previewer-elem img {
	width: 100%;
	//height: auto;
	height: 100%;
}

.delete-icon {
	position: absolute;
	width: 25px;
	height: 25px;
	top: 0px;
	right: 0px;
	font-size: 20px;

	background-color: transparent;
	color: red;

	cursor: pointer;
}
